.member-Contents_Btm_Wrapper
  .member-Contents_Btm
    .member-Contents_Btm_Inner
      .member-Contents_Btm_Img_Wrapper
        a.member-Contents_Detail.oga.wow.fadeInUp(href='01.html', data-wow-delay='0.2s')
          div(class="img-Wrapper img-Wrapper_" + classname)
            img(src='../assets/img/member/member-link_img01.png', alt='')
          p.name-E #{member_oga_e}
          p.name #{member_oga}
          p.dep #{member_oga_dep}
          p.join-Date #{member_oga_join}
        a.member-Contents_Detail.naka.wow.fadeInUp(href='02.html', data-wow-delay='0.3s')
          div(class="img-Wrapper img-Wrapper_" + classname)
            img(src='../assets/img/member/member-link_img02.png', alt='')
          p.name-E #{member_naka_e}
          p.name #{member_naka}
          p.dep #{member_naka_dep}
          p.join-Date #{member_naka_join}
        a.member-Contents_Detail.fuku.wow.fadeInUp(href='03.html', data-wow-delay='0.4s')
          div(class="img-Wrapper img-Wrapper_" + classname)
            img(src='../assets/img/member/member-link_img03.png', alt='')
          p.name-E #{member_fuku_e}
          p.name #{member_fuku}
          p.dep #{member_fuku_dep}
          p.join-Date #{member_fuku_join}
        a.member-Contents_Detail.yama.wow.fadeInUp(href='04.html', data-wow-delay='0.5s')
          div(class="img-Wrapper img-Wrapper_" + classname)
            img(src='../assets/img/member/member-link_img04.png', alt='')
          p.name-E #{member_yama_e}
          p.name #{member_yama}
          p.dep #{member_yama_dep}
          p.join-Date #{member_yama_join}
        a.member-Contents_Detail.ito.wow.fadeInUp(href='05.html', data-wow-delay='0.6s')
          div(class="img-Wrapper img-Wrapper_" + classname)
            img(src='../assets/img/member/member-link_img05.png', alt='')
          p.name-E #{member_ito_e}
          p.name #{member_ito}
          p.dep #{member_ito_dep}
          p.join-Date #{member_ito_join}
        a.member-Contents_Detail.kura.wow.fadeInUp(href='06.html', data-wow-delay='0.7s')
          div(class="img-Wrapper img-Wrapper_" + classname)
            img(src='../assets/img/member/member-link_img06.png', alt='')
          p.name-E #{member_kura_e}
          p.name #{member_kura}
          p.dep #{member_kura_dep}
          p.join-Date #{member_kura_join}
