.project-Mv_Wrapper.js-Mv
  .project-Mv
    div(class="project-Mv_Inner project-Mv_" + classname)

      .project-Name_Wrapper
        .project-Name
          .project-Name_Inner
            .project-Name_Inner_Left.wow.fadeInUp(data-wow-delay='1.2s')
              p.name-E #{name_e_left}
              p.name #{name_left}
              p.company #{company_left}
              p.position #{position_left}
            .project-Name_Inner_Center.wow.fadeInUp(data-wow-delay='1.3s')
              .project-Name_Inner_Center_Cross
                span
                span
            .project-Name_Inner_Right.wow.fadeInUp(data-wow-delay='1.4s')
              p.name-E #{name_e_right}
              p.name #{name_right}
              p.company #{company_right}
              p.position #{position_right}

      .project-Circle_Wrapper
        .project-Circle
          .project-Circle_Inner
            span #{project}
            h2 #{title1}<br>#{title2}<br>#{title3}
            p #{title_sub}
